.frontpage{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: orange
}
.back-image{
    width:100vw;
    height:100vh;
    position:fixed
}
.signinbox{
    width:300px !important;
    background-color:grey;
    border:none !important;
    
}
/* .frontpage_container{
    background-color:white;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: white 0px 5px 10px;

    padding: 40px;
} */
.btns{
    width:100% !important;
}
.btns:hover{
    color: orange;
}