
.rinput{
    margin:15px;
    width:500px;
    height:40px;
    font-size: 18px;
    color: navy;
}
.rbutton{
    width:200px;
    height:30px;
    border-radius: 10px;
    background-color: orange;
    border:none;
}
.rbutton:hover{
    background-color: rgb(246, 224, 185);
    border:orange;
}
